<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="game-container">
        <h1 id="game-title">✨ Harry Potter Sudoku ✨</h1>
        <div id="username-section">
            <input type="text" id="username" placeholder="Enter your name">
            <button onclick="setUsername()">Next</button>
        </div>
        <div id="difficulty-section" style="display: none;">
            <h2 id="user-title">Hi, <span id="user-name-display"></span>! <br><br>Choose the level!</h2>
            <select id="difficulty">
                <option value="easy">Easy (10 mins)</option>
                <option value="medium">Medium (10 mins)</option>
                <option value="hard">Hard (10 mins)</option>
                <option value="expert">Expert (10 mins)</option>
            </select>
            <button onclick="startGame()">Start Game</button>
        </div>
        
        <div id="game-section" style="display: none;">
            <h2 id="user-title">Hi <span id="game-user-name"></span>! <br> Solve the Sudoku!</h2>
            <div id="sudoku-grid"></div>
            <p class="timer">⏳ Time Left: <span id="timer">--:--</span></p>
            <button id="hint-btn" onclick="useHint()">🔍 Use Hint (<span id="hint-count">5</span> left)</button>

        </div>
        <div id="game-over-section" style="display: none;">
            <h2>⏳ Time's Up! ⏳<br><br> Game Over, <span id="final-username"></span>! </h2>
            <p>✔️ Correct Moves: <span id="correct-moves">0</span></p>
            <p>❌ Wrong Moves: <span id="wrong-moves">0</span></p>
            <div id="solved-sudoku-grid" class="sudoku-grid"></div>
            <button onclick="restartGame()">Start Again</button>
        </div>
    </div>
    <audio id="background-music" loop>
        <source src="{{ url_for('static', filename='harry_potter_theme.mp3') }}" type="audio/mpeg">
    </audio>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
